extends layout

block content
    h1 Timestamp Microserver
    h2.red Example usage:
    code http://localhost:3000/October 14, 1992
    br
    code http://localhost:3000/719035200
    h2.red Example output:
    code { "unix": 719020800, "natural": "October 14, 1992" }
    br
    code { "unix": null, "natural": null }

